// COLORS
$cor-1:#7055FA;
$cor-2:#090417;
$cor-3: rgba(9, 4, 23, 0.15);
$cinza-fundo:#f4f4f4;
$cor-4:#767676;
$vermelho: #f84239;
$azul:#365489;
$azul-claro:#44C1BB;

// END COLORS



//FONTES


// @font-face {
//     font-family: Gilroy;
//     src: url(../fonts/Gilroy-Bold.ttf);
//     font-weight: 700;
// }

// @font-face {
//     font-family: Gilroy;
//     src: url(../fonts/Gilroy-ExtraBold.otf);
//     font-weight: 900;
// }


// $inter: 'Inter',
// sans-serif;

// $gilroy: "Gilroy",
// sans-serif;