body {
    overflow-x: hidden;
}

$preto-base: rgba(0, 0, 0, 0.87);

.intro__ {
    padding: 40px 0;
    // background-image: url("../img/background-white.jpg");
    background-image: img("background-white.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;

    h1 {
        font-weight: 700;
        font-size: 32px;
        margin: 0 auto;
        display: inline-block;
        text-align: center;
        width: 100%;

        @include d(s) {
            font-size: 1.625rem;
        }
    }
}

.quest {
    background: #e7e6e2;
    padding: 45px 0;

    &__intro {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            text-transform: uppercase;
            font-weight: 500;
            line-height: 140%;
            margin: 0;
            color: $preto-base;
            font-family: 'Poppins', sans-serif;
            text-align: center;
            margin-bottom: 20px;

            @include d(m) {
                text-align: center;
                margin-bottom: 1.5625rem;
            }

        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        @include d(m) {
            flex-direction: column;
        }
    }




    &__info {
        display: flex;
        align-items: center;
        text-align: center;

        @include d(m) {
            flex-direction: column;
        }

        // max-width: 600px;
        p {
            line-height: 145%;
            color: $preto-base;
            font-size: 16px;

            @include d(m) {
                text-align: center;
                margin-bottom: 1.5625rem;
                font-size: 14px
            }
        }



    }

    .img__container {
        @include size(140px);
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        border: 3px solid white;
        flex: 1 0 auto;
        box-shadow: 0px 2px 4px rgba(8, 35, 48, 0.24);
        margin-left: 25px;

        margin-bottom: 20px;

        @include d(m) {
            @include center;
        }

        img {
            position: absolute;
            object-fit: cover;
            @include size(100%);
        }
    }
}

.strategic {
    margin-top: 80px;
    @include bg-props-contain;
    background-image: url(../img/mapa.png);
    background-position: 50vw 0;

    @include d(m) {

        background-position: 30vw 0;
        background-size: 300px;
    }


    &__wrapper {
        display: flex;
        align-items: center;

        @include d(m) {
            flex-direction: column-reverse;
        }
    }

    ul {
        @include d(m) {
            display: flex;
            flex-wrap: wrap;
        }

        li {
            display: inline-flex;
            align-items: center;
            padding: 20px 0;
            max-width: 600px;


            @include d(m) {
                flex-direction: column;
                max-width: 320px;
                justify-content: center;
                text-align: center;
                @include center;
            }

            p {
                font-weight: 500;
                font-family: 'Poppins', sans-serif;
                line-height: 145%;

                @include d(m) {
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
            }

            span {
                @include size(90px);
                flex: 1 0 auto;
                background: white;
                box-shadow: 0px 2px 4px rgba(8, 35, 48, 0.24);
                border-radius: 50%;

                display: block;
                margin-right: 20px;
                position: relative;

                img {
                    position: absolute;
                    @include inset;
                    margin: auto;
                    @include size(60%);
                }
            }


        }
    }

    .strategic__item-2 {

        display: block;
        @include size(100%);

        h2 {
            font-size: 2.5rem;
            max-width: 250px;
            color: $preto-base;
            text-transform: uppercase;
            font-family: 'Poppins', sans-serif;

            @include d(m) {
                text-align: center;
                margin: 0 auto;
                font-size: 28px;
            }
        }
    }
}

.analises {
    margin-top: 80px;
    min-height: 420px;
    border-bottom: 3px solid $preto-base;

    &__wrapper {
        display: flex;

        @include d(m) {
            flex-direction: column-reverse;
        }

    }

    &__texto {
        display: flex;
        align-items: center;
        height: 100%;
        max-width: 630px;

        @include d(s) {
            flex-direction: column;
            justify-content: center;
            min-height: 430px;


        }

        h2 {
            margin-bottom: 2.5rem;
            font-size: 1.375rem;

            @include d(s) {
                font-size: 18px !important;
            }
        }

        p {}
    }

    .parte1 {
        width: 50%;
        background: #ec1213;
        min-height: 420px;

        @include d(m) {
            width: 70%;
        }

        h2,
        p {
            color: white;
            line-height: 145%;
        }

        @include d(m) {
            h2 {
                font-size: 1.7rem;
            }
        }
    }

    .parte2 {
        width: 50%;
        min-height: 420px;

        @include d(m) {
            width: 30%;
        }

        @include d(s) {
            min-height: initial;
            overflow: hidden;
            height: 200px;

        }

        img {
            object-fit: cover;
            @include size(100%);

        }
    }

    .parte1,
    .parte2 {
        width: 100%;
    }
}

.real {
    padding-top: 60px;

    &__wrapper {
        display: flex;
        align-items: flex-start;

        @include d(m) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        p {
            line-height: 145%;
        }

    }

    &__curto {
        ul {
            display: flex;
            flex-direction: column;

            li {
                display: flex;
                align-items: center;
                margin-bottom: 30px;

                @include d(m) {
                    flex-direction: column;
                    max-width: 320px;
                    @include center;
                }

                img {
                    @include size(2.8125rem);
                    margin-right: 15px;
                    object-fit: contain;

                    @include d(m) {
                        margin: 0;
                        margin-bottom: 15px;
                    }
                }

                h2 {
                    font-size: 1.125rem;
                    font-weight: 600;
                }
            }
        }
    }

    &__longo {
        p {
            margin-bottom: 20px;
            line-height: 145%;

            @include d(m) {
                max-width: 320px;
                @include center;
            }
        }
    }
}

.quebrared {
    padding: 20px 0;
    min-height: 120px;
    background: #ec1213;
    margin-top: 40px;

    h1 {
        font-size: 1.75rem;
        color: white;
        text-align: center;

        span {
            color: #E7C242;
        }
    }
}

.quebrablack {
    padding: 25px 0;
    min-height: 120px;
    background: #262626;
    margin-top: 40px;

    h1 {
        font-size: 1.75rem;
        color: white;
        text-align: center;

        /*   span {
            color: #E7C242;
        } */
    }
}

.cokee {
    margin-top: 60px;

    @include d(m) {
        margin-top: 30px;
    }

    img {
        object-fit: contain;

        @include d(m) {
            margin: 0 auto;
            max-width: 220px;
        }
    }
}

section {
    overflow: hidden;
}

.future {
    padding: 60px 0;
    padding-bottom: 100px;

    &__text {
        font-family: 'Poppins';
        max-width: 900px;
        @include center;


        h1 {
            text-align: center;
            font-size: 1.75rem;
            margin-bottom: 30px;
            display: inline-block;
            @include center;
            width: 100%;
        }
    }

    &__wrapper {
        display: flex;
        margin-top: 40px;
        align-items: center;

        @include d(m) {
            flex-direction: column;
            max-width: 450px;
            @include center;
        }
    }

    .circle {
        flex: 1;

        img {
            @include center;
            object-fit: contain;

            @include d(m) {
                max-width: 210px;
                margin-bottom: 1.875rem;
            }
        }
    }

    &__item {
        flex: 1;

        ul {
            li {
                list-style: disc;
                margin-bottom: 1.875rem;
                // font-family: "Poppins";
                color: $preto-base;

                p {
                    margin-left: 10%;
                    display: list-item;
                    margin-bottom: 15px;
                    font-size: .875rem;
                    list-style: disc;
                    color: $preto-base;

                    &:first-child {
                        margin-top: 10px;
                    }
                }
            }
        }

        &:last-child {
            margin-left: 40px;

            @include d(m) {
                margin-left: 0px;

            }
        }
    }
}

.quebrablack,
.quebrared {
    h1 {
        max-width: 950px;
        @include center;
        font-family: 'Poppins';

        @include d(s) {
            font-size: 20px;
        }
    }
}


.colabor {
    margin-bottom: 120px;
    margin-top: 60px;

    &__wrapper {
        display: flex;
        padding: 40px;

        @include d(m) {
            padding: 40px 0;
        }
    }

    &__container {
        max-width: 1050px;
        margin: 0 auto;
    }


    &__text {
        font-family: 'Poppins';
        max-width: 900px;
        @include center;
        display: flex;
        justify-content: center;
        width: 100%;


        h1 {
            text-align: center;
            font-size: 1.75rem;
            margin-bottom: 30px;
            display: inline-block;
            @include center;
        }
    }

    &__item {
        width: 320px;
        padding: 15px 1.5625rem;
        background: white;
        border-radius: 8px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.09);
        min-height: 280px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            text-align: center;
            color: $preto-base;
            margin-bottom: 5px;
            font-family: "Poppins";
            font-weight: 500;
            font-size: 24px;

            @include d(m) {
                font-size: 18px;
            }
        }

        >span {
            color: rgb(51, 51, 51);
            text-align: center;
            font-weight: 400;
            display: inline-block;
            margin: auto;
            margin-bottom: 15px;
        }

        p {
            font-size: 16px;
            margin-bottom: 10px;
            display: inline-block;
            text-align: center;
            margin: 0 auto;
            margin-top: 10px;
            margin-bottom: 20px;

            strong {
                font-weight: 600;
                display: inline-block;
                width: 100%;
            }
        }
    }

    .img__container {
        border-radius: 50%;
        position: relative;
        @include size(5.625rem);
        overflow: hidden;
        @include center;
        margin-bottom: 15px;

        img {
            position: absolute;
            @include size(100%);
            object-fit: cover;
            @include inset;
        }

    }
}

.numbers {
    padding: 60px 0;
    padding-bottom: 120px;

    &__text {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 900px;
        margin: 0 auto;

        h1 {
            text-align: center;
            font-size: 1.75rem;
            margin-bottom: 30px;
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            font-weight: 500;
            font-family: "Poppins";

            @include d(s) {
                font-size: 18px !important;
            }
        }

    }

    &__wrapper {
        display: flex;
        align-items: center;
        margin-top: 40px;


        @include d(m) {
            display: grid;
        }
    }

    .item {
        display: flex;
        flex-direction: column;
        text-align: center;

        @include d(m) {
            max-width: 332px;
            @include center;
            margin-bottom: 40px
        }

        img {
            @include center;
            margin-bottom: 20px;
            border-radius: 50%;
            overflow: hidden;
        }

        h5 {
            font-family: "Poppins";
            font-size: 32px;
            font-weight: 600;
            color: $preto-base;

            @include d(m) {
                margin: 0;
                margin-bottom: 10px;
            }
        }

        p {
            line-height: 145%;
            color: $preto-base;
            font-family: "Poppins";


        }
    }
}